{% extends 'navbar.html' %} 

{% block content %}
<div class= "form">

  <form class="row g-3" method= "post" action= "{{ url_for("registerBanda") }}">
      <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Introduce el nombre de la banda</label>
      <input type="text" class="form-control"  name= "nombre">
      </div>
      <div class="col-md-6">
      <label for="inputPassword4" class="form-label">¿Donde se situa esta banda? Poblacion</label>
      <input type="text" class="form-control" name= "poblacion">
      </div>
      <br> </br>
      <br> </br>
      <br> </br>
      <div class="col-12">
        <button type="submit" class="btn ">Add</button>
        </div>
  </form>
  <div class="flash">
    {% if succes %}
    {% if error %}
      <p style=" text-align: center" > ERROR , {{json}} </p>
  
  {% else %}
      <p style=" text-align: center"> {{json}}</p>
  {% endif %}
  {% endif %}
 
  </div>
  {% endblock %}

