{% extends 'navbar.html' %} 

{% block content %}
<div class= "form">

  <form class="row g-3" method= "post" action= '{{ url_for("addEvent") }}'>
      <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre del Evento</label>
      <input type="text" class="form-control"  name= "nombre">
      </div>
      <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Ubicación donde tendrá lugar el evento</label>
      <input type="text" class="form-control" name= "ubicacion">

      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Fecha en que tendra lugar el evento</label>
        <input type="date" class="form-control" name= "fecha_evento">
      </div>

      
      <br> </br>
      <br> </br>
      <br> </br>
      <div class="col-12">
        <button type="submit" class="btn ">Add</button>
        </div>
  </form>
<div class="flash">
  {% if ok == True %}
  <p style="text-align: center">{{json}}</p>
  {% endif %}
  {% if ok ==  False %}
  <p style="text-align: center">ERROR , {{json}}</p>
 {% endif %}
  {% endblock %}
</div>

