{% extends 'navbar.html' %} 

{% block content %}
<div class= "form">

  <form class="row g-3" method= "post" action= '{{ url_for("issueCommenter") }}'>
      <div class="col-md-6">
      <label  class="form-label">Issue</label>
      <input type="text" class="form-control"  name= "issueName">
      </div>
      <div class="col-md-6">
      <label class="form-label">Comment</label>
      <input type="text" class="form-control" name= "comment">
      </div>
      <br> </br>
      <br> </br>
      <br> </br>
      <div class="col-12">
        <button type="submit" class="btn ">Add</button>
        </div>
        <div class="flash">
          {% if succes %}
          {% if error %}
            <p style=" text-align: center" > ERROR , {{json}} </p>
        
        {% else %}
            <p style=" text-align: center"> {{json}}</p>
        {% endif %}
        {% endif %}
       
        </div>
{% endblock %}

