{% extends 'navbar.html' %} 

{% block content %}
<div class="div1">
<img src="https://cdn-icons-png.flaticon.com/512/1987/1987997.png" height="300"> </img>
<p> Bienvenido a XarangApp </p>
<p>XarangApp  trata   de  simplificar y  optimizar de la mejor manera posible la gestion de eventos de bandas de música d e una vez por todas, con el fin de facilitar 
  a los directores  la tarea de gestionar los eventos que surgen a lo largo del año y tener de esta manera más  localizado cada uno de los encuentros que tienen lugar.</p>
</div>
{% endblock %}




