{% extends 'navbar.html' %} 

{% block content %}
<ol>
    <!-- For loop logic of jinja template -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre </th>
            <th scope="col">Ubicación</th>
            <th scope="col">Fecha del evento </th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
    {%for i in range(0, len)%}
    <tr>
        <td>{{eventos[i]['nombre']}}</td>
        <td>{{eventos[i]['ubicacion']}}</td>
        <td>{{eventos[i]['fecha_evento']}}</td>
        <td>{{eventos[i]['estado']}}</td>
        <td>
    </tr>
    {%endfor%}
</tbody>
</table>
    </ol>
{% endblock %}